@using FoundryBlazor.Shared
@using BlazorThreeJS.Viewers
@inherits Canvas3DComponentBase

<div id="worldHolder" style="@GetCanvasStyle()" Width="@CanvasWidth" Height="@CanvasHeight">
    <ViewerThreeD @ref="ViewerReference" ViewerSettings=@Settings3D ActiveScene=@Scene3D  CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight"/>
</div>
